@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
	height: 100%;
	background-color: #161616;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

pre {
	white-space: pre-wrap; /* Since CSS 2.1 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
